<a href="https://colab.research.google.com/github/SKawsar/Python_Fundamentals_s2/blob/main/Lecture_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 03: Python Data Types and String Manipulation
Instructor:
Md Shahidullah Kawsar,
Data Scientist, IDARE, Houston, TX, USA

#### Objectives:
1. Learn about Python data types, Mathematical Operations, Comparison Operators, Logical Operators, and Membership Operators
2. Learn string manipulation

#### References:
1. Python - Basic Operators: https://www.tutorialspoint.com/python/python_basic_operators.html

**str** : string, text
<br>**int** : inetger numbers
<br>**float** : real numbers, decimal values
<br>**bool** : True, False

In [ ]:
name = "Lionel Andres Messi"
birth_year = 1987
height = 5.6
is_he_a_goat = True

print("Player name : ", name)
print(type(name))

print("Birth Year : ", birth_year)
print(type(birth_year))

print("Height : ", height)
print(type(height))

print("Is he the greatest of all time? ", is_he_a_goat)
print(type(is_he_a_goat))

Player name :  Lionel Andres Messi
<class 'str'>
Birth Year :  1987
<class 'int'>
Height :  5.6
<class 'float'>
Is he the greatest of all time?  True
<class 'bool'>

#### Mathematical Operations

In [ ]:
a = 2 #integer
b = 3 #integer 

# Addition
print("a+b = ", a+b) 

# Multiplication
print("a*b = ", a*b) 

# Subtraction
print("a-b = ", a-b) 

# Modulus: Divides left hand operand by right hand operand and returns remainder
print("a%b = ", a%b) 

# Division
print("a/b = ", a/b)

# Floor Division - The division of operands 
# where the result is the quotient in which 
# the digits after the decimal point are removed. 
# But if one of the operands is negative, the result is floored, 
# i.e., rounded away from zero (towards negative infinity)
print("a//b = ", a//b) 

# Exponent: Performs exponential (power) calculation on operators
print("a**b = ", a**b)

a+b =  5
a*b =  6
a-b =  -1
a%b =  2
a/b =  0.6666666666666666
a//b =  0
a**b =  8

In [ ]:
b = 2
c = 3
d = 4

print(b*c-d)
print(b-c*d)
# definitely multiplication will occur first. To avoid confusion, please use brackets such as b - (c*d). Make it readable.

2
-10

#### Comparison Operators

In [ ]:
a = -1
b = 1

print("a == b : ", a == b)
print("a != b : ", a != b)
print("a >= b : ", a >= b)
print("a <= b : ", a <= b)
print("a > b  : ", a > b)
print("a < b  : ", a < b)

a == b :  False
a != b :  True
a >= b :  False
a <= b :  True
a > b  :  False
a < b  :  True

#### Logical operators

In [ ]:
# and, or

# ang logic
print(True and True) # 1 and 1
print(True and False) # 1 and 0
print(False and True) # 0 and 1
print(False and False) # 0 and 0

# or logic
print(True or True) # 1 or 1
print(True or False) # 1 or 0
print(False or True) # 0 or 1
print(False or False) # 0 or 0

True
False
False
False
True
True
True
False

In [ ]:
a = 1
b = 1
c = 2
d = 2

print("a == b and c == d : ", a == b and c == d)
print("a == b or c == d : ", a == b or c == d)
print("not c == d : ", not c == d)

a == b and c == d :  True
a == b or c == d :  True
not c == d :  False

#### Membership operators

In [ ]:
a = "abul"
b = "babul"

print("a in b : ", a in b)
print("b not in a : ", b not in a)

a in b :  True
b not in a :  True

#### String Manipulation
- How to capitalize the first character of a string?

In [ ]:
name = "ronaldo"
updated_name = name.capitalize()

print(updated_name)

Ronaldo

- How to find the frequency of the substring in a string?

In [ ]:
name_count = name.count("o")
print(name_count)

2


- How to find if a string starts or ends with a specific substring?

In [ ]:
name_startswith = name.startswith("o")
print(name_startswith)

name_endswith = name.endswith("o")
print(name_endswith)

False
True

#### String slicing

In [ ]:
# python is a 0-indexed based programming language
# the index of the last character = len(var) -1
# the last index in a range is always exclusive
var = "I love Bangladesh"

print("length of var = ", len(var))

print(var)
print(var[0])
print(var[7])
print(var[16])
print(var[-1])
print(var[-5])

print(var[2:6])
print(var[2:])
print(var[7:17])
print(var[7:])

print(var[0:6])
print(var[:6])

print(var[-10:])

length of var =  17
I love Bangladesh
I
B
h
h
a
love
love Bangladesh
Bangladesh
Bangladesh
I love
I love
Bangladesh


- How to find the index of a specific character in a string?

In [5]:
text = "Happy New Year"

print(text.find("p"))
print(text.index("a"))

2
1


- How to convert a string into lower case and upper case characters?

In [7]:
name = "ShakibAlHasan"

print(name.lower())
print(name.upper())

shakibalhasan
SHAKIBALHASAN

In [15]:
print("electrical engineering" == "Electrical Engineering".lower())
print("electrical engineering ".rstrip() == "Electrical Engineering".lower())
print("   electrical engineering".lstrip() == "Electrical Engineering".lower())

True
True
True

I eat rice.
Eating rice regulary is not a good habit.

eat, ate, eaten => eat

Electrical Engineering


- How to remove spaces from a string?

In [ ]:
# see lecture 4


- How to replace a substring inside a string?

In [19]:
text = "Electrical Enginering"

print(text.replace("Enginering", "Engineering"))

Electrical Engineering

In [21]:
text = "electrical enginering"
print(text.capitalize())

Electrical enginering

- How to find the presence of an alphanumeric character, alphabet or digit?

In [31]:
name = "shakibalhasan"

print(name.isalnum())
print(name.isdigit())
print(name.isalpha())
print(name.isupper())
print(name.islower())

True
False
True
False
True