<a href="https://colab.research.google.com/github/SKawsar/Python_Fundamentals_s2/blob/main/Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 01: Introduction to Python

Instructor:
<br>**Md Shahidullah Kawsar**
<br>Data Scientist
<br>IDARE, Houston, TX, USA

#### Objectives:
1. Familiarity with Google Colab, Anaconda, jupyter notebook, and Github
2. Learn logical thinking by playing blockly games: Maze
3. Learn about Python data types, Mathematical Operations, Comparison Operators, Logical Operators, and Membership Operators

#### References: 
1. Google Colab: https://colab.research.google.com/
2. Download Anaconda installer: https://www.anaconda.com/products/individual
3. How to Install Anaconda (Python) on Windows 10:
https://www.youtube.com/watch?v=syijLJ3oQzU
4. Easily Install Anaconda Python on MacOS:
https://www.youtube.com/watch?v=V6ZAv7hBH6Y&ab_channel=JustUnderstandingDataJustUnderstandingData
5. https://blockly.games/
6. Python - Basic Operators: https://www.tutorialspoint.com/python/python_basic_operators.htm
7. Python Fundamentals: https://github.com/SKawsar/Python_Fundamentals

- Q1: The sum of two even numbers will be always odd. True or **False**

<br>The sum of two even numbers will be always even.
<br>The sum of two odd numbers will be always even.
<br>The sum of one even number and one odd number will be always odd.

In [42]:
# integer
# পূর্ণসংখ্যা 
# কমেন্ট
2 + 2

4

In [43]:
4 + 10

14

In [44]:
3 + 3

6

In [45]:
2+3

5

- Q2: A positive value is always greater than a negative value. **True** or False

In [46]:
1>-1

True

In [47]:
-9>1

False

- Q3: Can you divide a number by zero? Yes or **No**

In [48]:
# 0/0

- Q4. If x is less than 1 and y is greater than 1, then x/y is less than 1. **True** or False

In [49]:
# 0.5 float 
x = 0.5
y = 2

x/y < 1

True

- Q5. The word 'Google' contains 5 unique characters. **True** or False

In [50]:
# "Google", 'Google'

print(len("Google"))
print(len("My phone number is 2082222 !&"))

6
29

In [51]:
"G" == "g"

False

In [52]:
52 == 53

False

- Q6. If x>1 and y>1, then x multiplied by y is greater than 1. **True** or False

In [53]:
x = 100
y = 10

x*y > 1

True

- Q7. The product of two odd numbers and one even number will always be an even number. **True** or False

In [54]:
a = 1
b = 3
c = 2

d = a*b*c
print(d)

6

- Q8. Set A = {1, 3, 5}, Set B = {1, 2, 3}; Set A intersection Set B = {1, 2, 3, 5}. True or **False**

In [55]:
a = {1,3,5}
b = {1,2,3}

a.intersection(b)

{1, 3}

- Q9. A = [1,2,3,1,2,3,12,3], the number of unique integers present in A are 4. **True** or False

In [56]:
A = [1,2,3,1,2,3,12,3]

print(set(A))
print(len(set(A)))

{1, 2, 3, 12}
4

- Q10. 1 is not equal to 1.00. True or **False**

In [57]:
1 != 1.00

False

### Python Data Types
<br>**str** : string, text
<br>**int** : inetger numbers
<br>**float** : real numbers, decimal values
<br>**bool** : True, False